.ui.table {
	border-collapse: collapse;
	width: 100%;

	&.striped {
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	}

	& th,
	td {
		border-color: var(--color-gray-200);
		border-width: 1px;
		padding: calc(var(--spacing) * 1);
	}
	& > thead tr th {
		text-align: left;
		font-size: smaller;
	}
}
