.page h1 {
	font-size: 2em !important;
}

.page h2 {
	padding-top: calc(var(--spacing) * 2);
	padding-bottom: calc(var(--spacing) * 2);
	font-size: 1.25em !important;
}

.page h3 {
	font-size: 1.2em !important;
}

.page {
	& a {
		&:hover {
			color: var(--color-link-600);
		}
	}
}

.page p {
	font-size: 1em !important;
}
