.summary-table {

	& tr {
		& td {
			& > label {
				opacity: 50%;
				font-weight: normal;
				font-size: smaller;
			}
			& > p {
				font-size: larger;
				margin-top: 0;
				margin-bottom: 0;
				font-weight: normal;
				opacity: 95%;
			}
		}
	}
}
