.ui.checkbox {
	color: inherit;
	background-color: transparent;
	border-width: 0.1em;
	width: 1.5em;
	height: 1.5em;
	border-radius: var(--radius-sm);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow-2xl);
	border-color: var(--color-primary-600);

	&[data-state='checked'] {
		background-color: var(--color-primary-500);
		color: var(--color-primary-100);
	}

	&:hover {
		background-color: var(--color-primary-600);
	}
}
