@use 'sass:color';

$stripeColor: var(--color-none-100);
$hoverColor: var(--color-none-200);
$borderColor: var(--color-none-300);
$borderWidth: 0.1em;

table.ui.data-table {
	border-collapse:collapse;
	border-color: red;
	width:100% !important;
	
	&.hover tbody tr:hover {
		background-color: $hoverColor !important;
	}

	&.striped tbody tr:nth-child(even) {
		background-color: $stripeColor;
	}

	& > tbody tr td {
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		padding-top: calc(var(--spacing) * 1);
		padding-bottom: calc(var(--spacing) * 1);

		border-color: inherit;
		border-width: $borderWidth;
	}
	& > thead tr th {
		& > div {
			display: flex;
			gap: calc(var(--spacing) * 1);
			align-items: center;
			font-size: 90%;

			& div:nth-child(1) {
			}

			& div:nth-child(2) > span {
				font-size: 50%;

				&.sorted {
					opacity: 50%;
				}

				&:not(.sorted) {
					opacity: 0%;
				}
			}
		}

		&:hover {
			cursor: pointer;
		}

		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		padding-top: calc(var(--spacing) * 1);
		padding-bottom: calc(var(--spacing) * 1);

		border-color: $borderColor;
		border-width: $borderWidth;

		text-align: left;
	}
}
