.ui.dropdownmenu {

	&.content {
		background-color: var(--color-white) !important;
		padding: calc(var(--spacing) * 1);
		border-width: 0.1em;
		border-radius: var(--radius-sm);
		border-color: var(--color-neutral-300);
	}

	&:focus {
		outline: none;
		box-shadow: none;;
	}
	&.arrow {
		fill: var(--color-neutral-300);
	}
	&.item {
		color: inherit;
		cursor:inherit;
		outline: none;
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		padding-top: calc(var(--spacing) * 1);
		padding-bottom: calc(var(--spacing) * 1);
		border-radius: var(--radius-sm);
		min-width: 10em;
		&[data-highlighted] {
			color: var(--color-primary-100);
			background-color: var(--color-primary-500);
		}
	}
}
