$stripeColor: var(--color-none-100);
$hoverColor: var(--color-none-200);
$borderWidth: 0.1em;

table.ui.table {
	width:100% !important;
	border-collapse: collapse;

	&.hover tbody tr:hover {
		background-color: $hoverColor;
	}

	&.striped tbody tr:nth-child(even) {
		background-color: $stripeColor;
	}

	& > tbody tr td {
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		padding-top: calc(var(--spacing) * 1.5);
		padding-bottom: calc(var(--spacing) * 1.5);

		border-width: $borderWidth;
	}

	& > thead tr th {

		&:hover {
			cursor: pointer;
		}
		
		padding-left: calc(var(--spacing) * 2);
		padding-right: calc(var(--spacing) * 2);
		padding-top: calc(var(--spacing) * 1);
		padding-bottom: calc(var(--spacing) * 1);

		
		text-align: left;
	}
}
