$lineColor: var(--color-none-200);
$activeLineColor: var(--color-primary-500);
$hoverColor: var(--color-none-100);
$lineThickness: 2px;
$roundness: var(--radius-sm);

.ui.tabs {

	& div[role='tablist'] {
		border-bottom: $lineThickness solid $lineColor;
		margin-bottom: 1em;

		& button[data-state='inactive'] {
			border-color: $lineColor;
			border-bottom-width: $lineThickness;
			border-bottom-color: transparent;
		}

		& button[data-state='active'] {
			border-color: $lineColor;
			border-bottom-width: $lineThickness;
			border-bottom-color: $activeLineColor;
		}

		& button {
			cursor: pointer;
			padding-left: calc(var(--spacing) * 3);
			padding-right: calc(var(--spacing) * 3);
			padding-top: calc(var(--spacing) * 1);
			padding-bottom: calc(var(--spacing) * 1);
			margin-bottom: calc(-1 * $lineThickness);

			& > span {
				padding-left: calc(var(--spacing) * 3);
				padding-right: calc(var(--spacing) * 3);
				padding-top: calc(var(--spacing) * 1);
				padding-bottom: calc(var(--spacing) * 1);
				border-radius: $roundness;
			}
			&:hover {
				& > span {
					background-color: $hoverColor;
				}
			}
		}
	}
}
